@using DMB.Core.Dmf

@implements IDisposable

@inject ModuleDocumentCore moduleDocument;
@inject DmfServiceCore<DatasetModelCore<DatasetFieldModelCore>, DatasetFieldModelCore, DataGridColumnModelCore> DmfService

@if (_grid is null)
{
    <div>Loading module...</div>
}
else
{
    <GridRenderer Grid="_grid" />
}

@code {
    [Parameter]
    public string? ModuleFileName { get; set; }

    private GridModelCore? _grid;

    protected override Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(this.ModuleFileName))
        {
            this._grid = this.DmfService.Load(this.moduleDocument, this.ModuleFileName, false);
        }
        this.moduleDocument.StateChanged += this.ModuleState_StateChanged;
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.moduleDocument.StateChanged -= this.ModuleState_StateChanged;
    }

    private void ModuleState_StateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }
}
