@using DMB.Core.Dmf

@implements IDisposable

@inject ModuleStateCore moduleState;
@inject DmfServiceCore<DatasetModelCore<DatasetFieldModelCore>, DatasetFieldModelCore> DmfService

@if (_grid is null)
{
    <div>Loading module...</div>
}
else
{
    <GridRenderer Grid="_grid" />
}


@code {
    [Parameter]
    public string? ModuleFileName { get; set; }

    private GridModelCore? _grid;

    protected override Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(this.ModuleFileName))
        {
            this._grid = this.DmfService.Load(moduleState, this.ModuleFileName);
        }
        this.moduleState.StateChanged += ModuleState_StateChanged;
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.moduleState.StateChanged -= ModuleState_StateChanged;
    }

    private void ModuleState_StateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }


}
